{
    "singleQuote": true,
    "printWidth": 180,
    "proseWrap": "always",
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracletSameLine": false,
    "semi": true
}